/* GridView Icons */

.glyphicon {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.glyphicon-pencil::before {
    content: "\f044";
}

.glyphicon-trash::before {
    content: "\f2ed";
}

.glyphicon-eye-open::before {
    content: "\f06e";
}

.glyphicon-refresh::before{
    content: "\f2f1";
}

a.asc:after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f162";
}

a.desc:after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f887";
}

.footer {
    height: 70px;
    padding-top: 20px;
}
